.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes {
    margin-right: 1em;
}

#logoAP {
    width: 150px;
}

#behance {
    width: 40px;
}

#linkedin {
    width: 43px;
}

img {
    margin-right: 10px;
}

/*--- Mobile ---*/

