<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP" alt="">
        </div>
        <div class="redes">
            <a href="https://www.behance.net/mariavirginia98"><img id="behance" src="../../../assets/behance.png" alt=""></a>
            <a href="https://www.linkedin.com/in/virginia-santillán-62347653/"><img id="linkedin" src="../../../assets/linkedin.png" alt=""></a>
            <button type="button" class="btn btn-outline-light" (click)="login()">Ingresar</button>
        </div>
    </div>
</div>