<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img id="profile-pic" src="../../../assets/profile.png" alt="" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-3 col-lg-2">
        <p class="nombre">María Virginia Santillán</p>
        <p class="about-titles">Graphic Designer</p>
        <p class="about-titles">UX/UI Designer</p>
        <p class="about-titles">Full Stack Developer</p>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <span>
            <h1>Acerca de mí</h1>
            <p>Curiosa, proactiva, responsable, con ganas de aprender cosas nuevas y asumir nuevos desafíos ¡Amante del diseño y de la programación!</p>
        </span>
    </div>
</div>