<div class="container" *ngIf="eduLab">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreEdu">Nombre institución</label>
                    <input type="text" class="form-control" id="nombreEdu" name="nombreEdu" [(ngModel)]="eduLab.nombreEdu"
                        required>
                </div>
                <div class="form-group">
                    <label for="descripcionEdu">Descripción</label>
                    <input type="text" class="form-control" id="descripcionEdu" name="descripcionEdu"
                        [(ngModel)]="eduLab.descripcionEdu" required>
                </div>
                <button class="btn btn-primary">
                    Actualizar educación
                </button>
            </form>
        </div>
    </div>
</div>