<div class="container" *ngIf="proLab">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombrePro">Nombre empresa</label>
                    <input type="text" class="form-control" id="nombrePro" name="nombrePro"
                        [(ngModel)]="proLab.nombrePro" required>
                </div>
                <div class="form-group">
                    <label for="descripcionPro">Descripción</label>
                    <input type="text" class="form-control" id="descripcionPro" name="descripcionPro"
                        [(ngModel)]="proLab.descripcionPro" required>
                </div>
                <button class="btn btn-primary">
                    Actualizar proyecto
                </button>
            </form>
        </div>
    </div>
</div>