<div class="row">
    <h1>Proyects</h1>
        <div class="container">
            <div class="col-sm-10 col-md-8 col-lg-8 titleproyect">
                <h1>Halterados</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus vitae, molestiae quasi quaerat voluptatem, adipisci iure eum veniam voluptatum optio quia eaque. Esse ducimus facere laboriosam voluptatem, aperiam magnam quam?</p>
            </div>
            <div class="col-sm-10 col-md-8 col-lg-8 imgproyect offset-md-1">
                <img src="../../../assets/behance.png" alt="">
            </div>
        </div>
</div>
