<div class="row">
    <h1>Hard & Soft skills</h1>
</div>

<div class="row">
    <h2>Development</h2>
    <div class="text-center col-sm-8 col-md-1 col-lg-1">
        <circle-progress
            [showTitle]="false"
            [showUnits]="false"
            [imageSrc]="'assets/icons/html.png'"
            [showImage]="true"
            [responsive]="true"
            [clockwise]="false"
            [imageHeight]="50"
            [imageWidth]="50"
            [percent]="80"
            [radius]="60"
            [outerStrokeGradient]="true"
            [outerStrokeColor]="'#ff0000'"
            [outerStrokeGradientStopColor]="'#9e0000'"
            [innerStrokeColor]="'#e7e8ea'"
            [outerStrokeWidth]="8"
            [space]="-10"
            [innerStrokeWidth]="12"
            [animation]="true"
            [animationDuration]="500"
        >
        </circle-progress>
    </div>

    <div class="text-center col-sm-8 col-md-1 col-lg-1">
        <circle-progress
            [showTitle]="false"
            [showUnits]="false"
            [imageSrc]="'assets/icons/css.png'"
            [showImage]="true"
            [responsive]="true"
            [clockwise]="false"
            [imageHeight]="50"
            [imageWidth]="50"
            [percent]="80"
            [radius]="60"
            [outerStrokeGradient]="true"
            [outerStrokeColor]="'#ff0000'"
            [outerStrokeGradientStopColor]="'#9e0000'"
            [innerStrokeColor]="'#e7e8ea'"
            [outerStrokeWidth]="8"
            [space]="-10"
            [innerStrokeWidth]="12"
            [animation]="true"
            [animationDuration]="500"
        >
        </circle-progress>
    </div>

    <div class="text-center col-sm-8 col-md-1 col-lg-1">
        <circle-progress
            [showTitle]="false"
            [showUnits]="false"
            [imageSrc]="'assets/icons/git.png'"
            [showImage]="true"
            [responsive]="true"
            [clockwise]="false"
            [imageHeight]="50"
            [imageWidth]="50"
            [percent]="80"
            [radius]="60"
            [outerStrokeGradient]="true"
            [outerStrokeColor]="'#ff0000'"
            [outerStrokeGradientStopColor]="'#9e0000'"
            [innerStrokeColor]="'#e7e8ea'"
            [outerStrokeWidth]="8"
            [space]="-10"
            [innerStrokeWidth]="12"
            [animation]="true"
            [animationDuration]="500"
        >
        </circle-progress>
    </div>

    <div class="text-center col-sm-8 col-md-1 col-lg-1">
        <circle-progress
            [showTitle]="false"
            [showUnits]="false"
            [imageSrc]="'assets/icons/javascript.png'"
            [showImage]="true"
            [responsive]="true"
            [clockwise]="false"
            [imageHeight]="50"
            [imageWidth]="50"
            [percent]="50"
            [radius]="60"
            [outerStrokeGradient]="true"
            [outerStrokeColor]="'#ff0000'"
            [outerStrokeGradientStopColor]="'#9e0000'"
            [innerStrokeColor]="'#e7e8ea'"
            [outerStrokeWidth]="8"
            [space]="-10"
            [innerStrokeWidth]="12"
            [animation]="true"
            [animationDuration]="500"
        >
        </circle-progress>
    </div>

    <div class="text-center col-sm-8 col-md-1 col-lg-1">
        <circle-progress
            [showTitle]="false"
            [showUnits]="false"
            [imageSrc]="'assets/icons/wordpress.png'"
            [showImage]="true"
            [responsive]="true"
            [clockwise]="false"
            [imageHeight]="50"
            [imageWidth]="50"
            [percent]="50"
            [radius]="60"
            [outerStrokeGradient]="true"
            [outerStrokeColor]="'#ff0000'"
            [outerStrokeGradientStopColor]="'#9e0000'"
            [innerStrokeColor]="'#e7e8ea'"
            [outerStrokeWidth]="8"
            [space]="-10"
            [innerStrokeWidth]="12"
            [animation]="true"
            [animationDuration]="500"
        >
        </circle-progress>
    </div>

    <div class="text-center col-sm-8 col-md-1 col-lg-1">
        <circle-progress
            [showTitle]="false"
            [showUnits]="false"
            [imageSrc]="'assets/icons/mysql.png'"
            [showImage]="true"
            [responsive]="true"
            [clockwise]="false"
            [imageHeight]="50"
            [imageWidth]="50"
            [percent]="20"
            [radius]="60"
            [outerStrokeGradient]="true"
            [outerStrokeColor]="'#ff0000'"
            [outerStrokeGradientStopColor]="'#9e0000'"
            [innerStrokeColor]="'#e7e8ea'"
            [outerStrokeWidth]="8"
            [space]="-10"
            [innerStrokeWidth]="12"
            [animation]="true"
            [animationDuration]="500"
        >
        </circle-progress>
    </div>

    <div class="text-center col-sm-8 col-md-1 col-lg-1">
        <circle-progress
            [showTitle]="false"
            [showUnits]="false"
            [imageSrc]="'assets/icons/php.png'"
            [showImage]="true"
            [responsive]="true"
            [clockwise]="false"
            [imageHeight]="50"
            [imageWidth]="50"
            [percent]="20"
            [radius]="60"
            [outerStrokeGradient]="true"
            [outerStrokeColor]="'#ff0000'"
            [outerStrokeGradientStopColor]="'#9e0000'"
            [innerStrokeColor]="'#e7e8ea'"
            [outerStrokeWidth]="8"
            [space]="-10"
            [innerStrokeWidth]="12"
            [animation]="true"
            [animationDuration]="500"
        >
        </circle-progress>
    </div>


</div>

<div class="row">
    <h2>Design</h2>
    <div class="text-center col-sm-8 col-md-1 col-lg-1">
        <circle-progress [showTitle]="false" [showUnits]="false" [imageSrc]="'assets/icons/adobeai.png'" [showImage]="true"
            [responsive]="true" [clockwise]="false" [imageHeight]="50" [imageWidth]="50" [percent]="80" [radius]="60"
            [outerStrokeGradient]="true" [outerStrokeColor]="'#ff0000'" [outerStrokeGradientStopColor]="'#9e0000'"
            [innerStrokeColor]="'#e7e8ea'" [outerStrokeWidth]="8" [space]="-10" [innerStrokeWidth]="12"
            [animation]="true" [animationDuration]="500">
        </circle-progress>
    </div>

    <div class="text-center col-sm-8 col-md-1 col-lg-1">
        <circle-progress [showTitle]="false" [showUnits]="false" [imageSrc]="'assets/icons/adobeps.png'" [showImage]="true"
            [responsive]="true" [clockwise]="false" [imageHeight]="50" [imageWidth]="50" [percent]="80" [radius]="60"
            [outerStrokeGradient]="true" [outerStrokeColor]="'#ff0000'" [outerStrokeGradientStopColor]="'#9e0000'"
            [innerStrokeColor]="'#e7e8ea'" [outerStrokeWidth]="8" [space]="-10" [innerStrokeWidth]="12"
            [animation]="true" [animationDuration]="500">
        </circle-progress>
    </div>

    <div class="text-center col-sm-8 col-md-1 col-lg-1">
        <circle-progress [showTitle]="false" [showUnits]="false" [imageSrc]="'assets/icons/adobexd.png'" [showImage]="true"
            [responsive]="true" [clockwise]="false" [imageHeight]="50" [imageWidth]="50" [percent]="80" [radius]="60"
            [outerStrokeGradient]="true" [outerStrokeColor]="'#ff0000'" [outerStrokeGradientStopColor]="'#9e0000'"
            [innerStrokeColor]="'#e7e8ea'" [outerStrokeWidth]="8" [space]="-10" [innerStrokeWidth]="12"
            [animation]="true" [animationDuration]="500">
        </circle-progress>
    </div>

    <div class="text-center col-sm-8 col-md-1 col-lg-1">
        <circle-progress [showTitle]="false" [showUnits]="false" [imageSrc]="'assets/icons/figma.png'"
            [showImage]="true" [responsive]="true" [clockwise]="false" [imageHeight]="50" [imageWidth]="50"
            [percent]="80" [radius]="60" [outerStrokeGradient]="true" [outerStrokeColor]="'#ff0000'"
            [outerStrokeGradientStopColor]="'#9e0000'" [innerStrokeColor]="'#e7e8ea'" [outerStrokeWidth]="8"
            [space]="-10" [innerStrokeWidth]="12" [animation]="true" [animationDuration]="500">
        </circle-progress>
    </div>

    <div class="text-center col-sm-8 col-md-1 col-lg-1">
        <circle-progress [showTitle]="false" [showUnits]="false" [imageSrc]="'assets/icons/adobeae.png'"
            [showImage]="true" [responsive]="true" [clockwise]="false" [imageHeight]="50" [imageWidth]="50"
            [percent]="50" [radius]="60" [outerStrokeGradient]="true" [outerStrokeColor]="'#ff0000'"
            [outerStrokeGradientStopColor]="'#9e0000'" [innerStrokeColor]="'#e7e8ea'" [outerStrokeWidth]="8"
            [space]="-10" [innerStrokeWidth]="12" [animation]="true" [animationDuration]="500">
        </circle-progress>
    </div>

    <div class="text-center col-sm-8 col-md-1 col-lg-1">
        <circle-progress [showTitle]="false" [showUnits]="false" [imageSrc]="'assets/icons/adobelr.png'"
            [showImage]="true" [responsive]="true" [clockwise]="false" [imageHeight]="50" [imageWidth]="50"
            [percent]="50" [radius]="60" [outerStrokeGradient]="true" [outerStrokeColor]="'#ff0000'"
            [outerStrokeGradientStopColor]="'#9e0000'" [innerStrokeColor]="'#e7e8ea'" [outerStrokeWidth]="8"
            [space]="-10" [innerStrokeWidth]="12" [animation]="true" [animationDuration]="500">
        </circle-progress>
    </div>

    <div class="text-center col-sm-8 col-md-1 col-lg-1">
        <circle-progress [showTitle]="false" [showUnits]="false" [imageSrc]="'assets/icons/adobedw.png'" [showImage]="true"
            [responsive]="true" [clockwise]="false" [imageHeight]="50" [imageWidth]="50" [percent]="50" [radius]="60"
            [outerStrokeGradient]="true" [outerStrokeColor]="'#ff0000'" [outerStrokeGradientStopColor]="'#9e0000'"
            [innerStrokeColor]="'#e7e8ea'" [outerStrokeWidth]="8" [space]="-10" [innerStrokeWidth]="12"
            [animation]="true" [animationDuration]="500">
        </circle-progress>
    </div>

    <div class="text-center col-sm-8 col-md-1 col-lg-1">
        <circle-progress [showTitle]="false" [showUnits]="false" [imageSrc]="'assets/icons/adobepr.png'" [showImage]="true"
            [responsive]="true" [clockwise]="false" [imageHeight]="50" [imageWidth]="50" [percent]="50" [radius]="60"
            [outerStrokeGradient]="true" [outerStrokeColor]="'#ff0000'" [outerStrokeGradientStopColor]="'#9e0000'"
            [innerStrokeColor]="'#e7e8ea'" [outerStrokeWidth]="8" [space]="-10" [innerStrokeWidth]="12" [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>


</div>

<div class="row">
    <h2>Soft skills</h2>
    <div class="text-center col-sm-8 col-md-1 col-lg-1">
        <circle-progress [showTitle]="true" title="Adaptability" [showUnits]="false" [showSubtitle]="false" [responsive]="true" [clockwise]="false" [imageHeight]="50" [imageWidth]="50"
            [percent]="80" [radius]="60" [outerStrokeGradient]="true" [outerStrokeColor]="'#ff0000'"
            [outerStrokeGradientStopColor]="'#9e0000'" [innerStrokeColor]="'#e7e8ea'" [outerStrokeWidth]="8"
            [space]="-10" [innerStrokeWidth]="12" [animation]="true" [animationDuration]="500">
        </circle-progress>
    </div>

    <div class="text-center col-sm-8 col-md-1 col-lg-1">
        <circle-progress [showTitle]="true" title="Team work" [showUnits]="false" [showSubtitle]="false" [responsive]="true"
            [clockwise]="false" [imageHeight]="50" [imageWidth]="50" [percent]="80" [radius]="60"
            [outerStrokeGradient]="true" [outerStrokeColor]="'#ff0000'" [outerStrokeGradientStopColor]="'#9e0000'"
            [innerStrokeColor]="'#e7e8ea'" [outerStrokeWidth]="8" [space]="-10" [innerStrokeWidth]="12" [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>

    <div class="text-center col-sm-8 col-md-1 col-lg-1">
        <circle-progress [showTitle]="true" title="Empathy" [showUnits]="false" [showSubtitle]="false" [responsive]="true"
            [clockwise]="false" [imageHeight]="50" [imageWidth]="50" [percent]="80" [radius]="60"
            [outerStrokeGradient]="true" [outerStrokeColor]="'#ff0000'" [outerStrokeGradientStopColor]="'#9e0000'"
            [innerStrokeColor]="'#e7e8ea'" [outerStrokeWidth]="8" [space]="-10" [innerStrokeWidth]="12" [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>

    <div class="text-center col-sm-8 col-md-1 col-lg-1">
        <circle-progress [showTitle]="true" title="Motivation" [showUnits]="false" [showSubtitle]="false" [responsive]="true"
            [clockwise]="false" [imageHeight]="50" [imageWidth]="50" [percent]="80" [radius]="60"
            [outerStrokeGradient]="true" [outerStrokeColor]="'#ff0000'" [outerStrokeGradientStopColor]="'#9e0000'"
            [innerStrokeColor]="'#e7e8ea'" [outerStrokeWidth]="8" [space]="-10" [innerStrokeWidth]="12" [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>

    <div class="text-center col-sm-8 col-md-1 col-lg-1">
        <circle-progress [showTitle]="true" title="Listening" [showUnits]="false" [showSubtitle]="false"
            [responsive]="true" [clockwise]="false" [imageHeight]="50" [imageWidth]="50" [percent]="80" [radius]="60"
            [outerStrokeGradient]="true" [outerStrokeColor]="'#ff0000'" [outerStrokeGradientStopColor]="'#9e0000'"
            [innerStrokeColor]="'#e7e8ea'" [outerStrokeWidth]="8" [space]="-10" [innerStrokeWidth]="12" [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>


</div>